/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4; /* Light gray background */
}


/* Navigation Bar */
nav {
    background: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Sections */
section {
    padding: 20px;
    margin: 20px 0;
}

/* Home Section */
#home {
    text-align: center;
    padding: 50px;
    background: url('img/background.jpg') no-repeat center center/cover;
    color: #1a1a1a;
}

/* About, Projects, Blog, Contact Sections */
#about, #projects, #blog, #contact {
    background: #fff;
    border: 1px solid #ddd;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
}

.resume {
    max-width: 800px; /* Adjust the width as needed */
    background-color: #fff; /* White background for the content */
    margin: 0 auto; /* Center the content */
    padding: 20px; /* Add some padding around the content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds subtle shadow */
    border-radius: 5px; /* Optional: Rounds the corners */
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul li {
        margin: 0 10px;
    }

    #home {
        padding: 20px;
    }
}